<template>
    <form class="create-article" @submit.prevent="createArticle" ref="formCreateArticle">
        <h2 class="create-article__title">Создание статьи</h2>
        <input
            class="create-article__input"
            v-model="articleTitle"
            placeholder="Заголовок"
            name="articleTitle"
            type="text"
            required
        />
        <textarea
            class="create-article__textarea"
            v-model="articleText"
            placeholder="Текст"
            name="articleText"
            required
        ></textarea>
        <div class="create-article__group">
            <button class="button create-article__button" type="submit">Сохранить</button>
            <button class="button create-article__button create-article__button--red" @click.prevent="closeModal">Отмена</button>
        </div>
    </form>
</template>

<script>
import {mapActions} from 'vuex';

export default {
    name: 'CreateArticle',
    data: () => ({
        articleTitle: '',
        articleText: ''
    }),
    methods: {
        ...mapActions('articles', ['CREATE_ARTICLE']),
        createArticle() {
            const data = {
                id: Math.random().toString(36).substring(2, 8) + Math.random().toString(36).substring(2, 8),
                title: this.articleTitle,
                text: this.articleText,
                dateCreated: new Date(),
            };
            this.CREATE_ARTICLE(data);
            this.$refs.formCreateArticle.reset();
            this.closeModal();
        },
        closeModal() {
            this.$emit('close');
        },
    },
    activated() {
        this.$refs.formCreateArticle.articleTitle.focus();
    },
}
</script>

<style lang="scss" scoped>
    .create-article {
        display: flex;
        flex-direction: column;
        width: 30%;
        background: #ffffff;
        padding: 20px;

        &__title {
            margin: 0 0 20px;
        }

        &__input {
            margin-bottom: 20px;
            padding: 8px 15px;
            border: 1px solid #cecece;
            border-radius: 4px;
        }

        &__textarea {
            margin-bottom: 20px;
            padding: 8px 15px;
            border: 1px solid #cecece;
            border-radius: 4px;
        }

        &__group {
            display: flex;
            justify-content: space-between;
        }

        &__button {
            width: 30%;

            &--red {
                background: red;
            }
        }
    }
</style>