<template>
    <div class="delete-article">
        <p class="delete-article__text">Вы уверены, что хотите удалить статью?</p>
        <div class="delete-article__group">
            <button class="button delete-article__button" @click="deleteArticle">Да</button>
            <button class="button delete-article__button delete-article__button--red" @click="closeModal">Отмена</button>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';

export default {
    name: 'DeleteArticle',
    computed: {
        ...mapGetters('modals', ['getModalPayload']),
    },
    methods: {
        ...mapActions('articles', ['DELETE_ARTICLE']),
        deleteArticle() {
            this.DELETE_ARTICLE(this.getModalPayload.id);
            this.closeModal();
        },
        closeModal() {
            this.$emit('close');
        },
    },
}
</script>

<style lang="scss" scoped>
    .delete-article {
        display: flex;
        flex-direction: column;
        width: 30%;
        background: #ffffff;
        padding: 20px;

        &__text {
            margin-bottom: 20px;
            font-size: 16px;
        }

        &__group {
            display: flex;
            justify-content: space-between;
        }

        &__button {
            width: 30%;

            &--red {
                background: red;
            }
        }
    }
</style>