<template>
    <form class="edit-article" @submit.prevent="editArticle" ref="formCreateArticle">
        <h2 class="edit-article__title">Редактирование статьи</h2>
        <input
            class="edit-article__input"
            v-model="articleTitle"
            placeholder="Заголовок"
            name="articleTitle"
            type="text"
            required
        />
        <textarea
            class="edit-article__textarea"
            v-model="articleText"
            placeholder="Текст"
            name="articleText"
            required
        ></textarea>
        <div class="edit-article__group">
            <button class="button edit-article__button" type="submit">Сохранить</button>
            <button class="button edit-article__button edit-article__button--red" @click="closeModal">Отмена</button>
        </div>
    </form>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';

export default {
    name: 'EditArticle',
    data: () => ({
        articleTitle: '',
        articleText: ''
    }),
    created() {
        this.articleTitle = this.getModalPayload.title;
        this.articleText = this.getModalPayload.text;
    },
    computed: {
        ...mapGetters('modals', ['getModalPayload']),
    },
    methods: {
        ...mapActions('articles', ['EDIT_ARTICLE']),
        editArticle() {
            const data = {
                id: this.getModalPayload.id,
                title: this.articleTitle,
                text: this.articleText,
                dateCreated: this.getModalPayload.dateCreated,
            };
            this.EDIT_ARTICLE(data);
            this.$refs.formCreateArticle.reset();
            this.closeModal();
        },
        closeModal() {
            this.$emit('close');
        },
    },
    activated() {
        this.$refs.formCreateArticle.articleTitle.focus();
    },
}
</script>

<style lang="scss" scoped>
    .edit-article {
        display: flex;
        flex-direction: column;
        width: 30%;
        background: #ffffff;
        padding: 20px;

        &__title {
            margin: 0 0 20px;
        }

        &__input {
            margin-bottom: 20px;
            padding: 8px 15px;
            border: 1px solid #cecece;
            border-radius: 4px;
        }

        &__textarea {
            margin-bottom: 20px;
            padding: 8px 15px;
            border: 1px solid #cecece;
            border-radius: 4px;
        }

        &__group {
            display: flex;
            justify-content: space-between;
        }

        &__button {
            width: 30%;

            &--red {
                background: red;
            }
        }
    }
</style>