<template>
    <transition name="modal">
        <div v-if="isShowModal" @click.self="closeModal" class="modal">
            <div @click.self="closeModal" class="modal__content">
                <component :is="modalCurrent"
                           :payload="modalPayload"
                           @close="closeModal"
                />
            </div>
        </div>
    </transition>
</template>

<script>
import CreateArticle from './components/CreateArticle';
import EditArticle from './components/EditArticle';
import DeleteArticle from './components/DeleteArticle';

import {mapState, mapGetters, mapActions} from 'vuex';

export default {
    name: 'Modal',
    computed: {
        ...mapState('modals', ['modalCurrent', 'modalPayload']),
        ...mapGetters('modals', ['isShowModal']),
    },
    methods: {
        ...mapActions('modals', ['CLOSE_MODAL']),
        closeModal() {
            this.CLOSE_MODAL();
        },
    },

    components: {
        CreateArticle,
        EditArticle,
        DeleteArticle,
    },
};
</script>

<style lang="scss" scoped>
    .modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(58, 58, 58, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        &__content {
            display: flex;
            justify-content: center;
            flex: 1;
        }
    }

    .modal-enter, .modal-leave-to {
        background: transparent;

        .modal__content {
            transform: scale(0);
        }
    }

    .modal-enter-active, .modal-leave-active {
        transition: all .3s;

        .modal__content {
            transition: all .3s ease-out;
        }
    }

</style>
