body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #202020;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  transition: opacity 0.6s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}