<template>
    <section class="edit">
        <div class="container edit__container">
            <button class="button edit__create" @click="showModalCreateArticle">+ Добавить статью</button>
            <div v-if="getArticles.length > 0" class="edit__items">
                <div class="edit__item" v-for="article in getArticles" :key="article.id">
                    <h3 class="edit__item-title">{{article.title}}</h3>
                    <p class="edit__item-text">{{article.text}}</p>
                    <span class="edit__item-date">{{new Date(article.dateCreated).toLocaleDateString()}}</span>
                    <div class="edit__item-group">
                        <button class="button edit__item-edit" @click="() => showModalEditArticle(article)">Редактировать</button>
                        <button class="button edit__item-delete" @click="() => showModalDeleteArticle(article)">Удалить</button>
                    </div>

                </div>
            </div>
            <h2 v-if="getArticles.length === 0">Статей нету</h2>
        </div>
    </section>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';

export default {
    name: 'Edit',
    computed: {
        ...mapGetters('articles', ['getArticles']),
    },
    methods: {
        ...mapActions('modals', ['SHOW_MODAL']),
        showModalCreateArticle() {
            this.SHOW_MODAL({name: 'CreateArticle'});
        },
        showModalEditArticle(article) {
            this.SHOW_MODAL({name: 'EditArticle', payload: article});
        },
        showModalDeleteArticle(article) {
            this.SHOW_MODAL({name: 'DeleteArticle', payload: article})
        },
    }
}
</script>

<style lang="scss" scoped>
    .edit {
        &__container {
            display: flex;
            flex-direction: column;
        }

        &__create {
            margin-bottom: 20px;
            width: 20%;
        }

        &__item {
            display: flex;
            flex-direction: column;
            padding: 20px;
            margin-bottom: 20px;
            border: 1px solid #cecece;
            border-radius: 4px;

            &-title {
                margin-bottom: 0;
            }

            &-date {
                margin-bottom: 20px;
                font-size: 12px;
                font-weight: bold;
            }

            &-group {
                display: flex;
                justify-content: space-between;
            }

            &-edit {
                background: yellow;
                color: #000000;
            }

            &-delete {
                background: red;
            }
        }
    }
</style>