<template>
    <div class="container login__container">
        <form class="login" @submit.prevent="onLogin">
            <h2 class="login__title">Вход</h2>
            <input
                class="login__input"
                name="login"
                v-model="login"
                type="text"
                placeholder="Логин"
                required
            />
            <input
                class="login__input"
                name="password"
                v-model="password"
                type="password"
                placeholder="Пароль"
                required
            />
            <button class="button" type="submit">Вход</button>
        </form>
    </div>
</template>

<script>
import {mapActions} from 'vuex';

export default {
    name: 'Login',
    data: () => ({
        login: '',
        password: '',
    }),
    methods: {
        ...mapActions('auth', ['LOGIN']),
        onLogin() {
            if (this.login.length > 0 && this.password.length > 0) {
                this.LOGIN();
                this.$router.push('Edit');
            }
        },
    },
}
</script>

<style lang="scss" scoped>
    .login {
        display: flex;
        flex-direction: column;
        width: 60%;

        &__container {
            display: flex;
            justify-content: center;
        }

        &__title {
            margin: 0 0 20px;
        }

        &__input {
            margin-bottom: 20px;
            padding: 8px 15px;
            border: 1px solid #cecece;
            border-radius: 4px;
        }
    }
</style>