<template>
    <section class="main">
        <div class="container">
            <div v-if="getArticles.length > 0" class="main__items">
                <div class="main__item" v-for="article in getArticles" :key="article.id">
                    <h3 class="main__item-title">{{article.title}}</h3>
                    <p class="main__item-text">{{article.text}}</p>
                    <span class="main__item-date">{{new Date(article.dateCreated).toLocaleDateString()}}</span>
                </div>
            </div>
            <h2 v-if="getArticles.length === 0">Статей нету</h2>
        </div>
    </section>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
    name: 'Main',
    computed: {
        ...mapGetters('articles', ['getArticles']),
    },
}
</script>

<style lang="scss" scoped>
    .main {
        &__items {
            display: flex;
            flex-direction: column;
        }

        &__item {
            display: flex;
            flex-direction: column;
            padding: 20px;
            margin-bottom: 20px;
            border: 1px solid #cecece;
            border-radius: 4px;

            &-title {
                margin-bottom: 0;
            }

            &-date {
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
</style>