<template>
    <div>
        <header class="header">
            <div class="container header__container">
                <router-link class="header__item" v-if="currentRout && currentRout !== 'Main'" to="/">
                    Главная
                </router-link>
                <router-link class="header__item" v-if="(currentRout && currentRout !== 'Edit') && isAuth" to="/edit">
                    Редактирование статей
                </router-link>
                <router-link class="header__item header__item--right" v-if="(currentRout && currentRout !== 'Login') && !isAuth" to="/login">
                    Вход
                </router-link>
                <span class="header__item header__item--right" v-if="isAuth" @click="onLogout">Выход</span>
            </div>
        </header>
        <router-view />
        <Modal />
    </div>
</template>

<script>
import Modal from './components/modals/Modal';
import {mapGetters, mapActions} from 'vuex';

export default {
    name: 'App',
    components: {
        Modal,
    },
    computed: {
        ...mapGetters('auth', ['isAuth']),
        currentRout() {
            return this.$route.name;
        },
    },
    created() {
        if (!localStorage.AUTH) {
          localStorage.setItem('AUTH', JSON.stringify(false));
        }

        if (!localStorage.articles) {
            localStorage.setItem('articles', JSON.stringify([]));
        }
    },
    methods: {
        ...mapActions('auth', ['LOGOUT']),
        onLogout() {
            this.LOGOUT();
            this.$router.push('/');
        },
    },
}
</script>

<style lang="scss">
    @import "./styles/styles.scss";

    .header {
        padding: 20px 0;
        margin-bottom: 20px;
        background-color: #202020;

        &__container {
            display: flex;
        }

        &__item {
            margin-right: 10px;
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            outline: none;
            cursor: pointer;
            
            &:hover {
                text-decoration: underline;
            }

            &--right {
                margin-left: auto;
            }
        }
    }
</style>
